body {
    background: rgb(238, 255, 210);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#movil {
    display: flex;
    flex-direction: column;
    width: 414px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 0px;
    text-align: center;
}

/*
* Comienza confirmacion (provisional)------------------
*/

#hasIniciadoSesionCorrectamente {
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.confirmacionContacto {
    display: flex;
    height: 720px;
    width: 414px;
    text-align: center;
    background-image: url("../images/fondoContacto.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

#pag-confirmacionUSER-part1 {
    background-color: whitesmoke;
    border-radius: 20px;
    width: 80%;
    height: 40%;
}

.boton-aceptar {
    height: 50px;
    width: 150px;
    margin-top: 10px;
    background: rgb(130, 0, 83, 0.99);
    border: 1px solid #000000;
    color: #ffffff;
    border-radius: 5px;
    margin: auto;
}

#confirmacionContacto {
    align-items: center;
}

h1{
    font-size: 30px;
}
