/**
* Comienzo de la cabecera -------------------------------------
*/
html{
  scroll-behavior: smooth;
}

.encabezado{
  list-style: none;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 414px;
  height: 73px;
  padding: 0px;
  align-items: center;
  position: fixed;
}
#logo{
  width: 163px;
  height: 61px;
  margin: 5px;
}
#login{
  width: 39px;
  height: 44px;
  box-sizing: border-box;
  margin-right: 5px;
}
#menu{
  width: 44px;
  height: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
}
#login-y-menu{
  display: flex;
  flex-direction: row;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  width: 115px;
  padding-left: 7px;
  gap:7px;
}

/**
* Comienzo de Menu desplegable -------------------------------------
*/

.respmenu a {
  list-style-type: style none;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  border-bottom: 2px solid grey;
  width: 200px;
  background: white;
  font-variant: small-caps;
  font-family: "Corbel", sans-serif;
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  list-style-type: style none;
}

.respmenu .fa-bars, .respmenu .fa-times {
  font-size: 48px;
  pointer-events: none;
  list-style-type: style none;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
  list-style-type: style none;
}

.respmenu {
  color: black;
  position: relative;
  background: white;
  min-height: 48px;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}

.respmenu a:hover{
  background: rgb(233, 233, 233)
}

/**
* Fin de Menu desplegable -------------------------------------
*/

/**
* Fin de la cabecera -------------------------------------
*/
