
.contacto{
    display:flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    text-align: center;
    background-image: url("../images/fondoContacto.jpg");
    background-size: cover;
    background-position: center;
}

#cuadro{
    padding-left: 2%;
    height: 80%;
}
form{
    width: 94%;
    height: 100%;
}
#titulo-contacto{
    display: flex;
    justify-content: start;
    font-size: 30px;
}

.entrada{
    width:100%; 
    line-height: 20px;
    border: 0,5px solid #000000;
    margin-top: 17px;
    font-size: 20px;
}

#mensaje{
   padding-bottom: 55px;
}

#obligatorio{
    font-size: 15px;
    color: rgb(130, 0, 83, 0.99);
}

#botones-contacto{
    width: 100%;
    height: 100%;
    display: flex;
    gap:5%;
}
#boton{
    width: 100%;
}