.cuadro{
    justify-content: center;
    height: fit-content;
    padding-bottom: 3%;
}
#gracias{
    text-align: center;
}

#MensajeRecibido {
    text-align: center;
}

#confirmacionContacto {
    display: flex;
    height: 700px;
    width: 100%;
    background-image: url("../images/fondoContacto.jpg");
    background-size: cover;
    background-position: center;
}

div h1,
div h2{
    width: 92%;
}

#boton{
    width: 92%;
    display: flex;
    justify-content: center;
}