.user{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background-image:url("../images/fondo_userPage.jpg");
    background-position: center;
}

.cuadro{
    height: 38%;
    max-width: 100%;
    width: 80%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    gap: 0;
    
}

#titulo-User{
    margin-top: 100px;
    font-size: 25px;
    color: white;
}

.chart-container {
    position: relative;
    top:4%;
    width: 38vw;
    height: 42.5vh;
    border: solid 1px black;
    margin: 0;
}

#mapa {
    width: 40%;
    margin: -100;
    height: 30%;
    background-color: blue;
    position:static;
    top:-39.5%;
    right:-50%;
}

#selector-parcelas {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: .5cm;
    top:-39%;
    right:10%;
    text-align: end;
    
}

@media(max-width:600px){
    .cuadro{
        height: 70%;
    }
    #mapa{
        top: -32%;
        right: -10%;
        width: 80%;
    }
    #selector-parcelas {
        flex-direction: row;
        top: -65%;
        right: -30%;
    }
    .chart-container {
        width: 80vw;
    }
}


.cuadro img{
    display: none;
    width: 100%;
    height: 70%;
    align-self: flex-end;
}