/*
* -------------------- Moodboard --------------------
* color gti---> (130, 0, 83, 0.99)
* color 1 ---> white/whitesmoke
* color 2 ---> black
* ---------------------------------------------------
* Titulos: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
* Texto y botones: Arial, Helvetica, sans-serif
*/

html {
    scroll-behavior: smooth;
}

body {
    background: whitesmoke;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none
}

/**
* Comienzo de la cabecera -------------------------------------
*/

#espacio {
    height: 73px;
}

.cabecera {
    list-style: none;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
}

#logo {
    width: 162px;
    max-width: 162px;
    height: 90%;
    margin: 5px;
}

#login {
    width: 39px;
    height: 44px;
    box-sizing: border-box;
}

#menu {
    width: 44px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#login-y-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: max-content;
    width: 15%;
    gap: 20%;
}

/**
* Comienzo de Menu desplegable -------------------------------------
*/

.respmenu a {
    list-style-type: style none;
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    border-bottom: 2px solid grey;
    width: 350px;
    height: 40px;
    background: white;
    font-variant: small-caps;
    font-family: "Corbel", sans-serif;
    margin: auto;
    font-size: larger;
}

.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    list-style-type: style none;
}

.respmenu .fa-bars,
.respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
    list-style-type: style none;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
    list-style-type: style none;
}

.respmenu {
    color: black;
    position: relative;
    background: white;
    min-height: 48px;
}

.respmenu nav {
    display: none;
}

.respmenu input:checked~nav {
    display: block;
}

.respmenu input:checked~.fa-bars {
    display: none;
}

.respmenu input:not(:checked)~.fa-times {
    display: none;
}

.respmenu a:hover {
    background: rgb(233, 233, 233)
}

/**
* Fin de Menu desplegable -------------------------------------
*/

/**
* Fin de la cabecera -------------------------------------
*/

/*
* Comienzo footer -------------------------------------
*/

.footer {
    background-color: rgb(130, 0, 83, 0.99);
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    height: 130px;
    color: white;
}

.footer p {
    font-size: 16px;
}

#derechos {
    height: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: center;
}

#imagen-copyright {
    margin-top: 10px;
    width: 12px;
    height: 12px;
}

#redessociales {
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
}

#img-redsocial {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(180, 70, 140);
}

/*
* Fin footer -------------------------------------
*/

/**
* botones y redirecciones -------------------------------------
*/
input {
    accent-color: rgb(130, 0, 83, 0.99);
    caret-color: rgb(130, 0, 83, 0.99);
    padding: 0px;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover {
    border: 1px solid rgb(130, 0, 83, 0.99);
    padding: 0px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    box-shadow: 1.5px 1.5px rgb(130, 0, 83, 0.99);
    padding: 0px;
}

.boton1 {
    height: 50px;
    width: 120px;
    background: rgb(130, 0, 83, 0.99);
    border: 1px solid #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.boton1:hover {
    background-color: rgba(87, 10, 59, 0.99);
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.boton2 {
    height: 50px;
    width: 120px;
    background: #ffffff;
    border: 1px solid #000000;
    color: rgb(130, 0, 83, 0.99);
    border-radius: 5px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.boton2:hover {
    background-color: rgb(236, 236, 236);
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/**
* sections y contenido -------------------------------------
*/

section {
    background-size: cover;
    background-position: center;
}

.section-info {
    color: white;
}

.section-action {
    color: black;
}

.icono {
    border: 1px solid black;
    border-radius: 100%;
    background-color: whitesmoke;
}

.cuadro {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 85%;
    height: 75%;
    background-color: white;
    border-radius: 2%;
    margin: auto;
    text-align: start;
    padding-left: 2%;
}

h1 {
    color: rgb(130, 0, 83, 0.99);
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

h2,
h3,
h4,
h5,
h6,
label,
button {
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    margin-top: 6%;
}

/**
* descubre mas -------------------------------------
*/

.enlaces {
    height: 30px;
}

.espacio-descubrir {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.espacio-descubrir a {
    text-decoration: none;
}

.descubrir-mas {
    color: white;
    padding: 0px;
    margin: 0px;
}

.descubrir-mas-img {
    width: 50px;
    height: 25px;
}